ion-header {
  --background: #3880ff;
  ion-title {
    color: white;
  }
}

h3 {
  text-align: center;
  font-size: 14px;
  color: #666;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}
